<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" href="../static/css/style.css" />

    <title>Gratis København</title>
  </head>

  <body>
    <div class="row background-img">
      <!-- Nav bar-->
      <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo center"
            ><img
              src="../static/img/freecphlogo2.jpg"
              alt="freecph"
              width="50"
              height="50"
          /></a>
          <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="">FreeCph</a></li>
            <li><a href="badges.html">Search Items</a></li>
            <li><a href="collapsible.html">Post Items</a></li>
          </ul>
        </div>
      </nav>

      <!-- main content -->

      <!-- footer -->

      <footer class="page-footer">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Footer Content</h5>
            </div>
            <div class="col l4 offset-l2 s12"></div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
            © 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
          </div>
        </div>
      </footer>
    </div>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
