{% extends 'base.html' %} {% block content %}

<div class="container">
  <div class="form s12">
    <div class="s10 form-listing">
      <p>Edit some or all of the information of the Item</p>
      <div class="row">
        <form
          action="{{ url_for('update_item', item_id=item._id) }}"
          method="POST"
          class="col s12"
        >
          <div class="input-field col s12 m6">
            <i class="material-icons prefix">account_circle</i>
            <input
              placeholder="First Name"
              id="first_name"
              type="text"
              class="validate"
              name="first_name"
              value="{{item.first_name}}"
              autocomplete="off"
            />
            <label for="first_name">First Name</label>
          </div>
          <div class="input-field col s12 m6">
            <i class="material-icons prefix">account_circle</i>
            <input
              placeholder="Which part of Copenhagen?"
              id="city"
              type="text"
              class="validate"
              name="city"
              value="{{item.city}}"
              autocomplete="off"
            />
            <label for="first_name">City</label>
          </div>
          <div class="input-field col s12 m6">
            <i class="material-icons prefix">account_circle</i>
            <input
              placeholder="Street Name + Number"
              id="adress"
              type="text"
              class="validate"
              name="address"
              value="{{item.adress}}"
              autocomplete="off"
            />
            <label for="address">Where do you live?</label>
          </div>
          <div class="input-field col s12 m6">
            <i class="material-icons prefix">account_circle</i>
            <input
              placeholder="Phone Number"
              id="phone_number"
              type="text"
              class="validate"
              name="phone_number"
              value="{{item.phone_number}}"
              autocomplete="off"
            />
            <label for="phone_number">Mobile Phone</label>
          </div>
          <div class="input-field col s12">
            <i class="material-icons prefix">account_circle</i>
            <input
              placeholder="What item(s) would you like to donate"
              id="item_title"
              type="text"
              class="validate"
              name="item_title"
              value="{{item.item_title}}"
              autocomplete="off"
            />
            <label for="item_title">Item</label>
          </div>
          <div class="input-field col s12">
            <i class="material-icons prefix">account_circle</i>
            <textarea
              id="item_description"
              class="materialize-textarea"
              placeholder="Here goas a short description of the free you're giving away"
              maxlength="200"
              rows="5"
              name="item_description"
              value="{{item.item_description}}"
              autocomplete="off"
            ></textarea>
            <label for="item_description">Item Description</label>
          </div>
          <div id="matfix" class="input-field col s12">
            <i class="material-icons prefix">account_circle</i>
            <input
              id="due_date"
              name="due_date"
              type="text"
              class="datepicker"
              placeholder="Pick last possible pickup date"
              value="{{item.due_date}}"
              autocomplete="off"
            />
            <label for="icon_prefix">Date</label>
          </div>
          <div class="input-field col s12">
            <i class="material-icons prefix">account_circle</i>
            <input
              id="due_time"
              name="due_time"
              placeholder="Pick the LAST TIME of the last day your item(s) is availble for pickup "
              type="text"
              class="timepicker"
              value="{{item.due_time}}"
              autocomplete="off"
            />
            <label for="icon_prefix">Time</label>
          </div>
          <div class="input-field col s12 form-slider-title">
            Item Condition
            <p class="range-field">
              <input
                name="item_condition"
                type="range"
                id="item_condition"
                min="0"
                max="100"
                value="{{item.due_time}}"
                autocomplete="off"
              /><span id="bad">Bad</span><span id="good">Perfect</span>
            </p>
          </div>
          <button class="btn submit waves-effect waves-light" type="submit">
            Edit Item<i class="material-icons right">send</i>
          </button>
        </form>
        <div class="input-field col s12 form-slider-title"></div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
