{% extends 'base.html' %} {% block content %}

<section class="row section-index">
	<div class="header">
		<h1>Collect Free Items All Over Copenhagen</h1>
		<span
      >Save The Planet While Doing So<a
        href="{{ url_for('post_items') }}"
        class="btn waves-effect waves-light giveaway"
        >Give away an Item</a
      ></span>
	</div>
	<div class="container listings">
		<div class="box-listings row">
			<div class="col s12 m6 l4">
				<div class="row">
					<div class="col frame s12 item-title">Title
						{% for task in listings%}
						{{task.first_name}}
						{{task.last_name}}
						{{task.adress}}
						{{task.phone_number}}
						{{task.item_description}}
						{% endfor %}
					</div>
					<div class="col frame s12 item-description">Description</div>
				</div>
			</div>
			<div class="col s12 m6 l4">
				<div class="row">
					<div class="col frame s12">Phone number</div>
					<div class="col frame s12">Date picker</div>
					<div class="col frame s12">Address</div>
				</div>
			</div>
			<div class="maps-api col s12 m12 l4">
				<div class="row">
					<div class="col frame s12">Google maps api</div>
				</div>
			</div>
		</div>
		<div class="box-listings row">
			<div class="col s12 m6 l4">
				<div class="row">
					<div class="col frame s12 item-title">Title</div>
					<div class="col frame s12 item-description">Description</div>
				</div>
			</div>
			<div class="col s12 m6 l4">
				<div class="row">
					<div class="col frame s12">Phone number</div>
					<div class="col frame s12">Date picker</div>
					<div class="col frame s12">Address</div>
				</div>
			</div>
			<div class="maps-api col s12 m12 l4">
				<div class="row">
					<div class="col frame s12">Google maps api</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}