{% extends 'base.html' %} {% block content %}

<section class="row section-index">
  <div class="header">
    <h1>Collect Free Items All Over Copenhagen</h1>
    <br/>
    <h5>Save The Planet through recycling</h5>
    <a href="{{ url_for('post_items') }}" class="btn waves-effect waves-light giveaway">
    Give away an Item
    </a>
  </div>
  <div class="container listings">
    <div class="box-listings row">
      <div class="col s12">
        {% for item in items %}
        <div class="row">
          <div class="col frame s12 item-title">
            {{item.first_name}} {{item.city}} {{item.adress}}
            {{item.phone_number}} {{item.item_title}} {{item.item_description}}
            {{item.due_date}} {{item.due_time}} <br />
            Item Condition: {{item.item_condition}}
          </div>
          <div class="btn-listings" id="btn-edit">
            <a
              href="{{url_for('edit_item', item_id=item._id)}}"
              class="waves-effect waves-light btn"
              >Edit Item Listing</a
            >
          </div>
          <div class="btn-listings" id="btn-delete">
            <a
              href="{{url_for('delete_item', item_id=item._id)}}"
              class="waves-effect waves-light btn"
              >Delete Listing</a
            >
          </div>
          <div class="maps-api col s12 m12">
            <div class="row">
              <div id="map" class="col frame s12"></div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

{% endblock %}
