{% extends 'base.html' %} {% block content %}

<div class="container">
  <div class="form s12">
    <div class="s10 form-listing">
      <p>List a free item to donate to the community</p>
      <div class="row">
        <form
          action="{{url_for('create_item') }}"
          method="POST"
          class="col s12"
        >
          <div class="input-field col s12 m6">
            <i class="material-icons prefix">account_circle</i>
            <input
              placeholder="First Name"
              id="first_name"
              type="text"
              class="validate"
              name="first_name"
            />
            <label for="first_name">First Name</label>
          </div>
          <div class="input-field col s12 m6">
            <i class="material-icons prefix">account_circle</i>
            <input
              placeholder="Which part of Copenhagen?"
              id="city"
              type="text"
              class="validate"
              name="city"
            />
            <label for="first_name">City</label>
          </div>
          <div class="input-field col s12 m6">
            <i class="material-icons prefix">account_circle</i>
            <input
              placeholder="Street Name + Number"
              id="address"
              type="text"
              class="validate"
              name="address"
            />
            <label for="address">Where do you live?</label>
          </div>
          <div class="input-field col s12 m6">
            <i class="material-icons prefix">account_circle</i>
            <input
              placeholder="Phone Number"
              id="phone_number"
              type="text"
              class="validate"
              name="phone_number"
            />
            <label for="phone_number">Mobile Phone</label>
          </div>
          <div class="input-field col s12">
            <i class="material-icons prefix">account_circle</i>
            <input
              placeholder="What item(s) would you like to donate"
              id="item_title"
              type="text"
              class="validate"
              name="item_title"
            />
            <label for="item_title">Item</label>
          </div>
          <div class="input-field col s12">
            <i class="material-icons prefix">account_circle</i>
            <textarea
              id="item_description"
              class="materialize-textarea"
              placeholder="Please add a short description of the item you're giving away"
              maxlength="200"
              rows="5"
              name="item_description"
            ></textarea>
            <label for="item_description">Item Description</label>
          </div>
          <div id="matfix" class="input-field col s12">
            <i class="material-icons prefix">account_circle</i>
            <input
              id="due_date"
              name="due_date"
              type="text"
              class="datepicker"
              placeholder="Pick last possible pickup date"
            />
            <label for="icon_prefix">Date</label>
          </div>
          <div class="input-field col s12">
            <i class="material-icons prefix">account_circle</i>
            <input
              id="due_time"
              name="due_time"
              placeholder="Pick the LAST TIME of the last day your item(s) is availble for pickup "
              type="text"
              class="timepicker"
            />
            <label for="icon_prefix">Time</label>
          </div>
          <div class="input-field col s12 form-slider-title">
            Item Condition
            <p class="range-field">
              <input name="item_condition" type="range" id="item_condition" min="0" max="100" /><span id="bad"
                >Bad</span
              ><span id="good">Perfect</span>
            </p>
          </div>
          <button class="btn submit waves-effect waves-light" type="submit">Submit Item<i class="material-icons right">send</i></button>
        </form>
        <div class="input-field col s12 form-slider-title"></div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
